.loginbutton{
  width: 50vh;
  height: 6vh;
  border-radius: 5vh;
}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 8px 6px -6px #999;
 
  z-index: 2;
  font-weight: bold;
}
.logo{
  vertical-align: -10px;
}
.navbar-collapse{
  align-items: initial;
}
.navItem{
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  vertical-align: -6px;
  font-size:16px;
  line-height: 20px;

}

.form{
  text-align: center;
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
}

.textbox{
  margin: auto;
  width: 50vh;
}

.inputbox{
  border-radius: 5vh;
}

.form2{
  display: flex;
  margin-top: 30vh;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  /* margin:auto; */
}

.formbox{
  max-width: 400px;
  min-width: 350px; 
}

.sidebyside{
  display:flex;
}