.loginbutton{
  width: 50vh;
  height: 5vh;
  border-radius: 5vh;
}

.form{
  text-align: center;
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
}

.textbox{
  margin: auto;
  width: 50vh;
}

.inputbox{
  border-radius: 5vh;
}