.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video{
  width:640px;
  height:360px;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.p {
  text-align: left;
  padding-bottom: 32px;
}

.butn {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 40px;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.form2{
  display: flex;
  margin-top: 30vh;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  /* margin:auto; */
}

.formbox{
  max-width: 400px;
  min-width: 350px; 
}

.sidebyside{
  display:flex;
}

.gobutton{
  margin: 0 !important;
  margin-left: 6px;
}

.textcolour{
  color:white
}

.padding{
  padding-left: 320px;
}

.jumbotronmargin{
  margin-top: 3vh;
}

.card{
  margin-top: 155px;
  max-width: 1000px;
  height: 450px;
}

.blacktext{
  font-family: 'Montserrat', sans-serif;
  color:black;
}